@font-face {
    font-family: bright;
    src: url(./Bright.otf);
}

.banner-titulo {
    font-family: bright;
    color: #fdfdfd;
    font-size: 8rem;
    position: absolute;
    left: 50%;
    font-weight: 400;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

